body {
    background-image: url('/assets/img/er.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.formContainer {
    width: 400px;
    margin: 2rem 1rem 2rem auto;
    color: #ccc;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}