.formContainer {
    width: 400px;
    margin: 3rem 1rem 0 auto;
    color: #ccc;
    background-color: rgba(0, 0, 0, .6);
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

